<div class="container">
  <div class="row">
    <div class="col-12">
      <code>
        <pre>Address: {{ me }}</pre>
        <pre>Balance: {{ balance }} ETH</pre>
        <pre>Accounts: {{ accounts | slice: 1 | json }}</pre>
      </code>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <label for="amount" class="col-form-label">Amount</label>
      <div class="input-group">
        <input
          type="number"
          min="0"
          class="form-control"
          [(ngModel)]="amount"
          name="amount"
          id="amount"
          aria-label="Amount (ETH)"
        />
        <div class="input-group-append">
          <span class="input-group-text">ETH</span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <label for="toAddress" class="col-form-label">To address</label>
      <div class="form-group mb-0">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="toAddress"
          aria-label="To address"
          name="toAddress"
          id="toAddress"
        />
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <!-- <label class="col-form-label"></label> -->
      <div class="form-group mb-0">
        <button
          class="btn btn-block btn-success"
          (click)="transfer()"
          [disabled]="isLoading"
        >
          Send
          <span
            class="ml-2 fa fa-spin fa-circle-notch"
            *ngIf="isLoading"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
